<!DOCTYPE html>
<meta charset="utf-8"/>

<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css">
        <link href="/static/img/favicon.ico" rel="shortcut icon">
        <title>Many Options Push-To</title>
    </head>
   <body>
   
    <form action = "http://localhost:5000" method = "POST">
        <p>You can only use M, NGC and IC designations...</p>
        <p>Loading the images takes a couple of seconds because of the download from the DSS image repo...</p>
        <p>Where do you want to go today? <input type = "text" name = "name" /></p>
        <p><input type = "submit" value = "Go get!" /></p>
      </form>
      
   </body>
</html>